@import 'assets/styles/mixins.scss';
.processSection {
  padding: 2px;
}
.prgressContent {
  padding: 10px 0;
}
.flex {
  display: flex;
}
.mt1 {
  margin-top: 1px;
}

.singleInput {
  width: 60% !important;
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}
.listCard {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 7px;
  transition: all 1s;
}
.listCard:hover {
  box-shadow: 1px 1px 10px #eee;
  padding: 10px;
  border-radius: 7px;
  transition: all 1s;
}
