@import 'assets/styles/mixins.scss';

.flex {
  display: flex;
  justify-content: space-between;
}

.searchBox {
  margin-bottom: 20px;
}

.closeBtn {
  justify-content: flex-end;
  padding: 10px 25px 0 0;
}

:global {
  .ant-table-pagination.ant-pagination {
    float: none !important;
    display: flex;
    justify-content: flex-end;
    li:first-child {
      margin-right: auto;
    }
  }
}
