/***********************
*** Branding colours ***
************************/

$bronze-1: #937568; // bronze-1
$bronze-2: #a98776; // bronze-2
$bronze-3: #c6a18f; // bronze-3
$deep-blue-1: #313343; // deep-blue-1
$pale-grey-1: #c6c7de; // pale-grey-1
$pale-grey-2: #a6a5b8; // pale-grey-2
$white: #fff; // white

/* Top navbar */

$top-navbar-background-color: $white;
$logo-background-color: $deep-blue-1;

/* Brand logo colors */

$brand-logo-color-1: $bronze-1;
$brand-logo-color-2: $bronze-2;
$brand-logo-color-3: $bronze-3;

/* Text colors */

$side-bar-color: $deep-blue-1;
$secondary-text-color: $pale-grey-1;
$alternative-text-color: $pale-grey-2;
