@import 'assets/styles/mixins.scss';
.notification {
  border: 1px solid #a8c6fa;
  padding: 0 10px;
  margin: 10px 0;
  border-radius: 5px;
}
.inputBox {
  padding: 10px;
  border: 1px solid #a8c6fa;
  border-radius: 4px;
  width: 90%;
  word-break: break-all;
}
