@import 'assets/styles/mixins.scss';

.selectInput {
  padding: 10px;
  border: 1px solid #a8c6fa;
  border-radius: 4px;
  width: 90%;
}
.cstmSelectInput {
  font-size: 13px;
  font-family: 'Nunito Sans', sans-serif;
  border-radius: 4px;
  border: 1px solid #a8c6fa;
  :global {
    .ant-select-selection {
      border: none;
    }
  }
}
.btnNEXT {
  width: 8rem;
  background-color: #75a9f9;
  color: #fff;
  margin-top: 14px;
  // margin-top: 19px;
}
