@import 'assets/styles/mixins.scss';

.modalHeader {
  margin-left: -25px;
  margin-right: -24px;
  margin-top: -27px;
}
.formActions {
  text-align: center;
  margin-bottom: -25px;
  margin-top: -23px;
}
.btnConfirm {
  height: 3rem;
  background-color: #75a9f9;
  color: #fff;
  width: 200px;
}
.formBlock {
  margin-top: 11px;
  font-weight: 600;
}
.inputbox {
  padding: 19px;
  border: 1px solid #a8c6fa;
  border-radius: 4px;
  width: 90%;
}

@media (max-width: $md-max-width) {
  .modalHeader {
    margin-top: -34px;
  }
}
