@import 'assets/styles/mixins.scss';

.mainCard {
  border-radius: 13px;
  border-left: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-top: 1px;
}

.editIcon {
  margin-left: 2px;
  font-size: '15px';
  color: #498df3;
}

.deleteIcon {
  margin-left: 14px;
  font-size: '15px';
  color: red;
}
